<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="osu!">
          <a href="osu.ppy.sh">
            <svg class="svg-icon st0">
              < xlink:href="{{ 'assets/icons/layouts/osu-transparent.png' | relative_url }}"></use>
            </svg><span>osu!</span>
          </a>
        </p>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
